/***************************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
}

table th, table td{
  padding: 0.2em;
}

#message {
  position: sticky;
  top: 0;
  padding: 0.4em;
  display: none;
  margin-bottom: 0.4em;
}

#menu {
  padding-bottom: 0.4em;
  border-bottom: 0.15em groove rgb(227, 227, 227);
}

#menu a {
  padding: 0.4em;
}

/***************************************************/

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
}

/***************************************************/

@media (min-width: 30em) {
  .responsive tr, .responsive td, .responsive th {
    text-align: center;
  }
  .responsive input, .responsive select {
    width: 100%;
    min-width: 6em;
  }
  .responsive tbody th:first-child, .responsive tbody td:first-child {
    display: none;
  }
  .responsive tbody th:last-child, .responsive tbody td:last-child {
    width: auto;
  }
}

@media (max-width: 30em) {
  .responsive thead {
    display: none;
  }
  .responsive tbody th {
    text-align: left;
  }
  .responsive tr {
    max-width: 16em;
  }
  .responsive tr, .responsive td, .responsive th {
    display: inline-block;
  }
  .responsive tr:not(:first-child) {
    padding-top: 1em;
  }
  .responsive tr:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: 0.15em groove rgb(227, 227, 227);
  }
}

/***************************************************/

#mode {
	display: inline-block;
}

#manual {
	visibility: visible;
}

#auto {
	visibility: collapse;
}

#manual, #auto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#manual button {
  width: 25vmin;
  height: 25vmin;
  font-size: 10vmin;
}

#auto button {
  width: 40vmin;
  height: 40vmin;
  font-size: 25vmin;
}

#start {
	color: green;
}

#stop {
	color: red;
}

/***************************************************/